nav a {
  color: #e6eef6;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background: #1e90ff33;
  color: #dff4ff;
}

nav a.active {
  background: #1e90ff;
  color: #022;
}
