body {
  background: #071029;
  color: #fff;
  font-family: Arial;
  margin: 0;
}

header, footer {
  background: #0008;
  padding: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 50px;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.btn {
  background: #4da3ff;
  color: #000;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 5px;
  display: inline-block;
}

.input {
  width: 90%;
  padding: 10px;
}
